body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: none;
}
header {
    background-color: #F3E9F1;
}
header .container-fluid {
    height: 100px;
}
.image_container {
    height: 100px;
}
.lien:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.conteneur_card {
    background-color: #F3EAF1;
    width: 350px;
    border-radius: 30px;
}
.conteneur {
    background-color: #F3EAF1;
    width: 350px;
    border-radius: 30px;
}

.fa-shopping-bag {
    font-size: 2rem;
}
.img_container {
    width: 100%;
    height: 250px;
} 
.img, .picture, .photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img, .picture {
    border-radius: 30px 30px 0 0;
}
.fa-star {
    background: -webkit-linear-gradient(-20deg,#DC9147, #915CF8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#avis {
    margin-bottom: 0;
}
#avis:hover {
    text-decoration: underline;
}
/******Page produit********/
.btn-panier {
    display: none;
    width: 300px;
}
.count_contain {
    position: relative;
}
.count {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

/******Page panier********/
.delete, .less, .plus {
    cursor: pointer;
}
.btn {
    font-size: x-large;
    background: linear-gradient(140deg,#DC9147, #915CF8);
}
form {
    text-align: initial ;
}
.prixTotal, .warning, .panier-vide {
    font-weight: bold;
    font-size: large;
}
input {
    border: 1px solid #000;
    border-radius: .25rem;
}

/******page confirmation******/
.bg-color {
    background-color: #F3E9F1;
}

@media (max-width: 767px) {
    table, tbody, tr, td {
        display: block;
    }
    td {
        padding: 5px;
    }
    .img_conteneur {
        width: 140px;
        height: 100px;
    } 
    .flex {
        display: flex;
        flex-direction: column;
    }
    .photo {
        border-radius: 15px;
    }
    .infos_container {
        padding-bottom: 10px;
    }
}
@media (min-width: 768px) {
    .conteneur {
        width: 700px;
        height: 450px;
    } 
    .img_container {
        height: auto;
    }
    .picture {
        border-radius: 30px;
    }
    .fontsize--changes {
        font-size: 1.3rem;
    }
    tr {
        height: 100px;
    }
    .flex {
       width: 600px;
    }
    input {
        position: absolute;
        right: 0;
        height: 100%;
        width: 500px;
    }
    .img_conteneur {
        width: 100px;
        height: 100px;
    } 
}
@media (min-width: 992px) {
    .conteneur {
        width: 900px;
    } 
}
@media (min-width: 1200px) {
    .conteneur {
        width: 1100px;
        height: 518px;
    } 
}

