body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: none;
}
main a:hover {
    transform: scale(1.2);
    transition: 0.3s;
}
#img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.conteneur_card {
    background-color: #F3EAF1;
    width: 350px;
    border-radius: 30px;
}
.conteneur {
    background-color: #F3EAF1;
    width: 350px;
    border-radius: 30px;
}

.fa-shopping-bag {
    font-size: 2rem;
}
.img_container {
    width: 100%;
    height: 250px;
} 
.img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px 30px 0 0;
}
.fa-star {
    background: -webkit-linear-gradient(-20deg,#DC9147, #915CF8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fas--three, .fas--four {
    color: grey;
}
#avis {
    margin-bottom: 0;
}
#avis:hover {
    text-decoration: underline;
}
@media (min-width: 768px) {
    .conteneur {
        width: 700px;
    } 
}

