body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000000;
    border: solid red;
}
#img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.fa-shopping-bag {
    font-size: 2rem;
}
.img_container {
    width: 335px;
    height: 250px;
} 
.img {
    object-fit: contain;
    width: 100%;
    height: auto;
    border: solid;
}
.col {
    background-color: #F3EAF1;
}
